<div
  {{update-document-title this.count}}
  {{on-tick this.incrementSeconds}}
>
  Passed Prop: {{@someProp}}<br>
  Elapsed Seconds: {{this.seconds}}<br>
  Elapsed Minutes: {{this.minutes}}<br><br>

  <button {{on 'click' this.incrementCount}}>
    Bump document title count
  </button><br><br>

  <button {{on 'click' this.clearElapsedTime}}>
    Clear Elapsed Time
  </button>
</div>