import SectionTitleSlide from 'emberconf-2019/src/ui/components/slides/section';
import CodeSlide from 'emberconf-2019/src/ui/components/slides/code';
import Slide from 'src/ui/components/slides/plain';

--- hbs ---

{{!-- <SectionTitleSlide as |s|>
  <s.Title>Components and Local State</s.Title>

  <s.Notes data-markdown>
    Easiest to compare, cause most parallels
  </s.Notes>
</SectionTitleSlide> --}}

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>
      {{code-snippet name='components-ember-01.ts'}}
      {{code-snippet name='components-ember-01.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-01.tsx'}}
    </div>
  </div>
</Slide>

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>
      {{code-snippet name='components-ember-02.ts'}}
      {{code-snippet name='components-ember-01.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-01.tsx'}}
    </div>
  </div>
</Slide>

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>

      {{code-snippet name='components-ember-03.ts'}}
      {{code-snippet name='components-ember-01.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-01.tsx'}}
    </div>
  </div>

</Slide>

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>

      {{code-snippet name='components-ember-04.ts'}}
      {{code-snippet name='components-ember-01.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-01.tsx'}}
    </div>
  </div>

</Slide>

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>
      {{code-snippet name='components-ember-05.ts'}}
      {{code-snippet name='components-ember-05.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-02.tsx'}}
    </div>
  </div>


</Slide>

<Slide class='ember-color' as |s|>
  <div class='grid-container'>
    <div>
      {{code-snippet name='components-ember-06.ts'}}
      {{code-snippet name='components-ember-06.hbs'}}
    </div>
    <div>
      {{code-snippet name='components-react-02.tsx'}}
    </div>
  </div>
</Slide>